DEBUG=True
SECRET_KEY=12345

# postgres://<user>:<password>@<host>:<port>/<db-name>
DATABASE_URL=postgres://postgres:root@localhost:5432/field_force_db

APP_URL=http://localhost:8000/
UI_DOMAIN_URL=http://localhost:3000/
ALLOWED_HOSTS=localhost 127.0.0.1

EMAIL_HOST=email-smtp.ap-south-1.amazonaws.com
EMAIL_PORT=465
EMAIL_HOST_USER=ABCD
EMAIL_HOST_PASSWORD=1234
EMAIL_SENDER=Empfly Notifications <notifications-ff@empfly.com>

DEPLOYMENT_TYPE=same-domain
TRUSTED_ORIGINS=https://accounts-dev.devopsjar.com http://localhost:3001 chrome-extension://amknoiejhlmhancpahfcfcfhllgkpbld
CORS_REGEX=^(http|https):\/\/(([a-zA-Z0-9:._-]+.(ipxp.in|devopsjar.com|vegastack.com|vegaops.com)[0-9:]*$)|(localhost|localhost)[a-zA-Z0-9:._-]+)

SENTRY_DSN=https://12345@sentry.peerxp.com/7